[Unit]
Description=Kuechenmonitor (Chromium im Vollbild)
After=network-online.target systemd-user-sessions.service getty@tty1.service
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
User=hamun
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
UtmpIdentifier=tty1
ExecStart=/usr/bin/xinit /home/hamun/kiosk.sh -- :0 vt1 -keeptty -nolisten tcp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
